@{
    ViewData["Title"] = "Create / Reservation";
}

@model Gym.DTO.CreateReservationDTO

<div class="text-center">
    <h1 class="display-4">Create Reservation</h1>
</div>

@if(ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-controller="Reservation" asp-action="CreateReservationForm">
    <div class="form-group">
        <label class="mt-4">Training ID</label>
        <input class="form-control" type="number" placeholder="0" asp-for="TrainingId"></input>
    </div>

    <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Create</button>
</form>


