@{
    ViewData["Title"] = "My / Reservations";
}

@model List<Gym.DTO.GetReservationDTO>

<div class="text-center">
    <h1 class="My Reservations"></h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID  
                </th>
                <th>
                    Reservation Date 
                </th>
                <th>
                    User ID 
                </th>
                <th>
                    Training ID 
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>
                        @reservation.Id
                    </td>
                    <td>
                        @reservation.ReservationDate
                    </td>
                    <td>
                        @reservation.UserId
                    </td>
                    <td>
                        @reservation.TrainingId
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
