@{
    ViewBag.Title = "Membership not found";
}

<h2>@ViewData["ErrorMessage"]</h2>

<p>You have to buy membership to create reservation</p>

<a href="/Membership/DisplayMemberships" class="btn btn-custom">Buy membership</a>